li{
  list-style: none;
  width: 100%;
  height: 50px;
  border:1px solid #969696;
  box-shadow:0 0 10px #959595;
  font-size: 2em;
  font-family: 'BS5';
  padding-top:1%;
  background: linear-gradient(to right,rgb(249, 223, 87),rgb(94, 205, 221));
  cursor: pointer;
}
li:hover{
  background: linear-gradient(to right,rgb(125, 111, 39),rgb(39, 89, 96));

}
a{
  text-decoration: none;
  color:black;
}
